{% extends 'base_landing.htm' %}

{% load i18n %}

{% block status_help %}{% endblock %}
{% block status %}{% endblock %}

{% block content %}
    <div class="sslLoginWrap">
        <div class="sslPageContentFramePortal">
            <div class="sslPageContentMain">
                <p>Bedankt voor het doorgeven van uw e-mailadres.</p>

                <p> Wij doen er alles aan om uw gegevens in de digitale kluis veilig te houden. 
                    Daarom krijgt u pas toegang tot de kluis nadat uw e-mailadres is bevestigd. 
                    Om uw e-mailadres te bevestigen, krijgt u een e-mail met een link. 
                    Klik op die link en u heeft toegang tot de digitale kluis.</p>
            </div>
        </div>
    </div>
{% endblock %}
