{% extends 'base_landing.htm' %}

{% load i18n %}

{% block status_help %}{% endblock %}

{% block content %}
    <div class="sslLoginWrap">
        <div class="sslPageContentFramePortal">
            <div class="sslPageContentMain">

                <p>We hebben de bevestiging van uw e-mailadres ontvangen.
                    U heeft vanaf nu toegang tot de digitale kluis van {{ BRAND }}. 
                    Klik <a href="{% url 'login-standard' %}">hier</a> om direct 
                    naar uw digitale kluis te gaan.</p>

                <p>Met vriendelijke groet,<br>
                    {{ COMPANY|default:BRAND }}</p>
            </div>
        </div>
    </div>
{% endblock %}
