{% extends 'base.htm' %}

{% load i18n %}
{% load store %}
{% load static from staticfiles %}

{% block title %}Home{% endblock %}
{% block pagetitle %}Home{% endblock %}

{% block head %}
    {{ block.super }}
    <style>
        h3 {
            margin-bottom: 0;
        }
        h3 + p {
            margin-top: 0;
        }
    </style>
{% endblock %}

{% block content %}
<div class="sslPageContentFramePortal">
    <div class="sslPageContentHeader">
        <div class="HeaderTitle">Home</div>
    </div>
    <div class="sslPageContentMain">
        <div style="text-align: center">
            <img src="{% static 'pondresvault/pondresvaulthome.jpg' %}" width="200" height="126">
        </div>

        <h3>Welcome</h3>

        <p>Welkom bij uw eSAFE gehost door {{ COMPANY|default:BRAND }}.
          Deze portal biedt een veilige omgeving voor uw documenten.</p>
    </div>
</div>
{% endblock %}
