<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta name="format-detection" content="telephone=no"/>
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=no;"/>
<meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE" />
<title>Welcome</title>
<style>
@import url(http://fonts.googleapis.com/css?family=Roboto:300); /*Calling our web font*/
/* Some resets and issue fixes */
#outlook a {
  padding: 0;
}
body {
  width: 100% !important;
-webkit-text;
  size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  margin: 0;
  padding: 0;
}
.ReadMsgBody {
  width: 100%;
}
.ExternalClass {
  width: 100%;
}
.backgroundTable {
  margin: 0 auto;
  padding: 0;
  width: 100%;
!important;
}
table td {
  border-collapse: collapse;
}
.ExternalClass * {
  line-height: 115%;
}

/* End reset */


/* These are our tablet/medium screen media queries */
@media screen and (min-width: 480px) and (max-width: 700px) {
/* Display block allows us to stack elements */
*[class="mobile-column"] {
  display: block;
}
/* Some more stacking elements */
*[class="mob-column"] {
  float: none !important;
  width: 100% !important;
}
/* Hide stuff */
*[class="hide"] {
  display: none !important;
}
/* This sets elements to 100% width and fixes the height issues too, a god send */
*[class="100p"] {
  width: 100% !important;
  height: auto !important;
}
/* For the 2x2 stack */
*[class="condensed"] {
  padding-bottom: 40px !important;
  display: block;
}
/* Centers content on mobile */
*[class="center"] {
  text-align: center !important;
  width: 100% !important;
  height: auto !important;
}
/* 100percent width section with 20px padding */
*[class="100pad"] {
  width: 100% !important;
  padding: 20px;
}
/* 100percent width section with 20px padding left & right */
*[class="100padleftright"] {
  width: 100% !important;
  padding: 0 20px 0 20px;
}
/* 100percent width section with 20px padding top & bottom */
*[class="100padtopbottom"] {
  width: 100% !important;
  padding: 20px 0px 20px 0px;
}
}
</style>
</head>

<body style="padding:0; margin:0; background-color: white">
<table border="0" cellpadding="0" cellspacing="0" style="margin: 0; padding: 0;" width="100%">
  <tr>
    <td align="center" valign="top"><table width="640" max-width="640" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF" class="100p">
        <tr>
          <td bgcolor="#ffffff" width="640" max-width="640" valign="top" class="100p"><div>
              <table width="640" max-width="640" border="1" cellspacing="0" cellpadding="20" class="100p" style="color:#000000;">
                <tr>
                  <td valign="top"><table border="0" cellspacing="0" cellpadding="0" width="600" class="100p">
                      <tr>
                        <td align="left" width="50%" class="100p"><img src="https://demo.sslposteurope.com/static/custom/15_xKbb0608JIL9tMhKIc0fAmva7RXTkEez.png" width="276" height="52" alt="LOGO SECUREDD" border="0"></td>
                        <td width="50%" class="hide" align="right" style="font-size:16px; color:#000000;"><font face="'Roboto', Calibri, Arial, sans-serif"><a href="http://www.securedd.nl/" style="color:#828282; text-decoration:none;">Home</a> &nbsp; &nbsp; | &nbsp; &nbsp; <a href="http://www.securedd.nl/about-us/" style="color:#828282; text-decoration:none;">Over ons</a> &nbsp; &nbsp; | &nbsp; &nbsp; <a href="http://www.securedd.nl/contact/" style="color:#828282; text-decoration:none;">Contact</a></font></td>
                      </tr>
                    </table>
                    <table border="0" cellspacing="0" cellpadding="0" max-width="600" width="600" class="100p">
                      <tr>
                        <td height="25"></td>
                      </tr>
                      <tr>
                        <td align="center" style="color:#00000; font-size:24px;"><font face="'Roboto', Calibri, Arial, sans-serif"> <span style="font-size:44px;">Secure Document Delivery</span><br />
                          <span style="font-size:24px;color:#828282">Account registration<br />
                          </span> <br />
                          <span style="font-size:16px;">{% if password_reset.user.get_profile.creator %}You have received a secure email or have been granted access to an eSafe account from {{ password_reset.user.get_profile.creator.email }}.{% endif %}{% ifequal reset_type "a" %}. The sender has invited you to use SECUREDD for their secure data transfer. <br />
                          <br />
                          </span> <span style="font-size:16px;">{% else %} To access your email or eSafe, you must first register your account.   {% endifequal %} <br />
                          <br />
                          </span>
                          <table border="0" cellspacing="0" cellpadding="10" style="border:2px solid #000000;">
                            <tr>
                              <td align="center" style="color:#FFFFFF; font-size:16px; background-color:#5C69F0;"><font face="'Roboto', Calibri, Arial, sans-serif"><a href="{{ link }}" style="color:#ffffff; text-decoration:none;"><b>Click here</b></a></font></td>
                            </tr>
                          </table>
                          <br />
                          <span style="font-size:16px;">As an alternative to pressing the button, you can copy the link from the button and paste it in your browser manually. <br />
                          <br />
                          </span> <span style="font-size:24px;color:#5C69F0">Need support?<br />
                          </span> <span style="font-size:16px;color:#000000;">Send us an email at: <a href="mailto:support@securedd.nl">support@securedd.nl</a> <br />
                          <br />
                          With best regards, <br />
                          SECUREDD <br />
                          <br />
                          </span> <span style="font-size:12px;color:#000000;">© 2017 SECUREDD - All rights reserved.</span> </font></td>
                      </tr>
                      <tr>
                        <td height="0"></td>
                      </tr>
                    </table></td>
                </tr>
              </table>
            </div>
            <!--[if gte mso 9]>
            </v:textbox>
            </v:rect>
            <![endif]-->
          </td>
        </tr>
      </table></td>
  </tr>
</table>
</body>
</html>
